<!--
  Generated template for the TutorialRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Solicitudes de tutoría</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<!-- <p>{{text}}</p> -->
	<ion-list>
		<div>
			<h2>Tutoría de {{request.subject}}</h2>
	  	<p>{{request.name}} ({{request.group}}), día {{request.diaHR}} a las {{request.hora}}</p>
  	</div>

		<div inset radio-group [(ngModel)]="accept" (ionChange)="showReason()">
		  <ion-item>
		    <ion-label>Aceptar tutoría</ion-label>
		    <ion-radio value="yes" checked></ion-radio>
		  </ion-item>
		  <ion-item>
		    <ion-label>Rechazar tutoría</ion-label>
		    <ion-radio value="no"></ion-radio>
		  </ion-item>
		</div>

		<div *ngIf="showOther">
			<ion-list-header>
			  Razón del rechazo
		  </ion-list-header>

			<ion-item>
			  <ion-label>No puedo a esa hora</ion-label>
				<ion-checkbox [(ngModel)]="reasons[0]"></ion-checkbox>
			</ion-item>
			<ion-item>
			  <ion-label>Ese día no puedo</ion-label>
				<ion-checkbox [(ngModel)]="reasons[1]"></ion-checkbox>
			</ion-item>
			<ion-item>
		    <ion-label>El día antes del examen no acepto tutorías</ion-label>
	  		<ion-checkbox [(ngModel)]="reasons[2]"></ion-checkbox>
		  </ion-item>
		  <ion-item>
		    <ion-label>Otro</ion-label>
	  		<ion-checkbox [(ngModel)]="reasons[3]"></ion-checkbox>
		  </ion-item>
		  <ion-item *ngIf="reasons[3]">
		  	<ion-label floating>Introduzca la razón aquí</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>

		</div>

		<button ion-button class="confirm-button" (click)="send()">Enviar</button>
	</ion-list>

</ion-content>
