<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<div *ngFor="let s of settings" class="setting">
			<ion-list-header>
    			{{s.name}}
  			</ion-list-header>
			<ion-item *ngFor="let sb of s.subajustes" class="subsetting">
				<ion-label>{{sb.name ? sb.name : sb.content}}</ion-label>

					<ion-select *ngIf="(sb.type == 'select')" interface="popover">
						<ion-option
							*ngFor="let o of sb.content"
							selected="{{sb.content.indexOf(o)==0}}"
							value={{o}}>{{o}}</ion-option>
					</ion-select>

					<ion-toggle *ngIf="(sb.type == 'toggle')"></ion-toggle>

					<ion-note item-right *ngIf="(sb.type == 'text')">
      					{{sb.content}}
      				</ion-note>
      				
			</ion-item>
		</div>

	</ion-list>
</ion-content>
