<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<div *ngFor="let s of settings" class="setting">
			<h2>{{s.name}}</h2>
			<div *ngFor="let sb of s.subajustes" class="subsetting">
				<h3>{{sb.name}}</h3>
				<div *ngIf="(sb.type == 'select')">
					<ion-select>
						<ion-option
							*ngFor="let o of sb.content"
							selected="{{sb.content.indexOf(o)==0}}"
							value={{o}}>{{o}}</ion-option>
					</ion-select>
				</div>
				<div *ngIf="(sb.type == 'toggle')">
					<span class="toggle-content"><ion-label>{{sb.content}}</ion-label>
					<ion-toggle></ion-toggle></span>
				</div>
				<div *ngIf="(sb.type == 'text')">
					<ion-label>{{sb.content}}</ion-label>
				</div>
			</div>
		</div>

	</ion-list>
</ion-content>
