<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedir tutoría</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Selecciona asignatura y profesor
  </ion-list-header>
  <ion-item>
    <ion-label>Asignatura</ion-label>
    <ion-select 
      [(ngModel)]="sKey" 
      interface="popover" 
      (ionChange)="listen('subject')" 
      placeholder="Seleccionar">

      <ion-option 
        *ngFor="let s of subjects" 
        value="{{s.key}}"
      >{{s.name}}</ion-option>

    </ion-select>
  </ion-item>

  <ion-item *ngIf="showTeachers">
    <ion-label>Profesor</ion-label>
    <ion-select 
      [(ngModel)]="tKey" 
      interface="popover" 
      (ionChange)="listen('teacher')" 
      placeholder="Seleccionar">

      <ion-option 
        *ngFor="let t of teachers" 
        value="{{t.key}}"
      >{{t.name}}</ion-option>

    </ion-select>
  </ion-item>

  <div class="tutorial-table" *ngIf="showTable">
    <ion-list-header>
      Horarios de tutoría del profesor
    </ion-list-header>
    <div class="row header">
      <div class="col">Día</div>
      <div class="col">Horario</div>
      <div class="col">Despacho</div>
    </div>
    <div class="row" *ngFor="let data of tabla">
      <div class="col">{{data.dia}}</div>
      <div class="col">{{data.horario[0]+'-'+data.horario[1]}}</div>
      <!-- <div class="col"><button class="button" ng-click="console.log($index)">Add</button>
      </div> -->
      <div class="col">{{data.office}}</div>
    </div>
  </div>
  
  <div class="tutorial-none" *ngIf="!hasTutorials">
    <ion-label>Este profesor no tiene asignado horario de tutorías</ion-label>
  </div>

  <div *ngIf="showTable" class="tutorial-date">
    <ion-list-header>
      Selecciona un día y una hora
    </ion-list-header>
    <ion-item>
      <ion-label>Día</ion-label>
      <ion-datetime 
      (ionChange)="getHoursByDay()"
      (click)="setDay()"
      min="2017" 
      max="2017-06-31" 
      monthNames={{months}} 
      placeholder="Seleccionar" 
      dayValues={{days}} 
      dayShortNames={{dayShortNames}} 
      doneText="Aceptar" 
      cancelText="Cancelar"
      displayFormat="DDD DD de MMMM" 
      pickerFormat="DD MMMM" 
      [(ngModel)]="tutoria.dia"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime 
      displayFormat="HH:mm" 
      pickerFormat="HH mm" 
      hourValues={{hours}}
      minuteValues="0,15,30,45" 
      doneText="Aceptar" 
      cancelText="Cancelar"
      placeholder="Seleccionar" 
      [(ngModel)]="tutoria.hora"></ion-datetime>
    </ion-item>
    <button ion-button class="tutorial-confirm" (click)="saveTutorial()">Solicitar tutoría</button>
  </div>
</ion-content>

