page-page1 {
}

.tutorial-table{
  width: 95vw;
  margin: 20px auto;

  .header .col {
      /*background-color:lightgrey;*/
      color: #777;
  }

  .col {
      border-bottom: solid 1px #D7D7D7;
      /*border-bottom-style: none;*/
      /*border-right-style: none;*/
  }

  .col:last-child {
      border-right: solid 1px transparent;
  }

  .row{
    height: 36px;
  }

  .row:last-child .col {
      /*border-bottom: solid 1px grey;*/
  }

}

.tutorial-none{
  height: 40vh;
  width: 90vw;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;

  ion-label{
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    white-space: normal;
    color: #777;
  }
}

.tutorial-confirm{
  min-width: 50vw;
  position: relative;
  left: 25vw;
  top: 20px;
}