page-page1 {
}

.table{
  width: 90vw;
  margin: 20px auto;

  .header .col {
      /*background-color:lightgrey;*/
      color: #777;
  }

  .col {
      border-bottom: solid 1px #D7D7D7;
      /*border-bottom-style: none;*/
      /*border-right-style: none;*/
  }

  .col:last-child {
      border-right: solid 1px transparent;
  }

  .row:last-child .col {
      /*border-bottom: solid 1px grey;*/
  }

}
