<!-- <link rel="import" href="assets/bower_components/calendar-lite/calendar-lite-dark.html"> -->
<!-- disabled-week-day='["Sab", "Dom"]' -->
<link rel="import" href="assets/bower_components/calendar-lite/calendar-lite.html">

<ion-header no-border>
  <ion-navbar align-title="center">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end class="popover-button">
      <button class="notifications" icon-only ion-button (click)="presentPopover($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-bounce>
    <div class="calendar-container">
      <div class="embedded-calendar">
          <calendar-lite bind-polymer class="calendar"></calendar-lite>
      </div>
    </div>
    <!-- <div class="event-list-container"> -->
      <ion-list class="event-list">
        <ion-list-header>Eventos para {{date}}</ion-list-header>
        <div *ngIf="free" class="events-free">
          <ion-label>No hay eventos!</ion-label>
          <span>🎉</span>
          <div> UID: {{ (af.auth | async)?.uid }} </div>
          <button (click)="login()">Login</button>
          <button (click)="logout()">Logout</button>
        </div>
        <ion-item *ngFor="let e of events" class="event-item">{{e.name}}</ion-item>
      </ion-list>
    <!-- </div> -->
</ion-content>