.ion-page{
    background-color: #555555;
    // background-color: red;
}

.embedded-calendar{
    .calendar{
        margin-top: 20px;
        width: 100%;
        border: 1px solid transparent;
    }
}