<ion-header>
  <ion-navbar align-title="center">
      <ion-title>Notificaciones</ion-title>
    <ion-buttons end>
      <button class="close" icon-only ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  	<ion-list>
    <ion-item-sliding *ngFor="let n of notifications">
  	  <ion-item>
  	  	<h2>{{n.title}}</h2>
  	  	<p>{{n.text}}</p>
  	  </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="delete(n)">
          <ion-icon name="trash"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
	  <div *ngIf="notifications.length==0" class="events-free">
          <ion-label>Estás al día!</ion-label>
          <span>🎉</span>
      </div>
    <button *ngIf="notifications.length!=0" (click)="clear()" ion-button class="delete-all">Borrar todas</button>
	</ion-list>
</ion-content>
