<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi horario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="schedule-table">
	    <div class="row header">
	      <div class="col"> </div>
	      <div class="col">L</div>
	      <div class="col">M</div>
	      <div class="col">X</div>
	      <div class="col">J</div>
	      <div class="col">V</div>
	    </div>
	    <div class="row" *ngFor="let data of tabla">
	    	<div class="col">{{data.period}}</div>
	      	<div class="col" (click)="getDetails(data.lunes, 'lunes', 'calendar')">{{data.lunes}}</div>
			<div class="col" (click)="getDetails(data.martes, 'martes', 'calendar')">{{data.martes}}</div>
			<div class="col" (click)="getDetails(data.miercoles, 'miercoles', 'calendar')">{{data.miercoles}}</div>
			<div class="col" (click)="getDetails(data.jueves, 'jueves', 'calendar')">{{data.jueves}}</div>
			<div class="col" (click)="getDetails(data.viernes, 'viernes', 'calendar')">{{data.viernes}}</div>
	    </div>
  	</div>
	
	<div class="schedule-table" *ngIf="displayDetails">
	    <div class="row header">
	      <ion-list-header>{{subject.name}}</ion-list-header>
	    </div>
	    <div class="row">
	    	<div class="col">Profesor</div>
	      	<div class="col">{{subject.teacher}}</div>
	    </div>
	    <div class="row">
	    	<div class="col">Clase</div>
	      	<div class="col">{{subject.room}}</div>
	    </div>
	    <div class="row">
	    	<div class="col">Calificación media</div>
	      	<div class="col">{{subject.grade}}</div>
	    </div>
	    <div class="row">
	    	<div class="col">Trabajos pendientes</div>
	      	<div class="col">{{subject.works}}</div>
	    </div>
	    <div class="row">
	    	<div class="col">Exámenes pendientes</div>
	      	<div class="col">{{subject.exams}}</div>
	    </div>
  	</div>

  	<button *ngIf="displayDetails" class="more" ion-button>Más información</button>

</ion-content>
